
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 150px;
    margin-top: 30px;
}

.flex-days {
    background-color: aliceblue;
    border: 1px solid #747569;
    padding: 1rem;
    text-align: center;
    margin:2px;
    width: 5rem;
}

.back-button-container{
  // position: relative;
}


.back-button {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 6px 5px;
  margin: 10px ;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.line-chart{
  width:50%;
  margin-left:200px;
  margin-top:20px;

}