$marginTop: 5px;

.weather-icon{
 font-size: 30px;
 margin-top: 15px;
}

.weather-date{
  margin-top: $marginTop;
  font-size: 8px;
  font-weight: 500;

}
.weather-temperature, .weather-description {
  margin-top: $marginTop;
  font-size: 10px;
  font-weight: 500;
}

